body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.weather-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #3498db;
    font-size: 28px;
}

.search-container {
    margin-bottom: 20px;
}

#locationInput {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #3498db;
    width: 80%;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#locationInput:focus {
    border-color: #e74c3c;
    outline: none;
}

#searchButton {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: #e74c3c;
}

.current-weather {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.current-weather h2 {
    color: #3498db;
    font-size: 24px;
    margin-bottom: 10px;
}

.current-weather p {
    font-size: 16px;
    margin: 8px 0;
}

.footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

